#progress {
  display:none;
  z-index: 99;
  text-align: center;
  padding: 4px 10px;
  color: white;
  margin: 0 auto;
}

nav #main-nav-bar li#link-to-cart #minicart a {
  font-size: 12px
}

nav #main-nav-bar li#link-to-cart #minicart a.button {
  font-size: 12px;
  color: white !important;
}

ul#minicart-items {
	 list-style: none;
  margin: 0 10px;
}


ul#minicart-items li{
	 min-height: 80px;
	 border-style: dotted; border-color: black; border-width: 0px 0px 1px 0px;
	 margin: 0px 0px 10px 0px;
}
/*=============New changes=================*/
#minicart {
  background-color:#fff;
  z-index: 100;
  position: fixed;
  padding: 0;
  float:right;
  width: 300px;
  bottom: 0;
  overflow: auto;
  right: -300px;
  top: 0;
  transition:right 200ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  z-index: 99999;
}
.header-cart {
  background-color: #222;
  color: #fff;
  height: 48px;
  padding: 1px 0;
  position: relative;
}
.header-cart h2 {
  margin: 10px 0;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 28px;
}
.close-button {
    left: 0;
    line-height: 28px;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 48px;
    cursor: pointer;
}
.show-cart #minicart {
  right: 0;
}

/*=============End of New changes=================*/

ul#minicart-items > li > a > img { float: left; padding: 0px 10px 0px 0px; }

#minicart div#minicart-details a.button.checkout{
  float:right;
}
#minicart-details { margin: 0px 0px 10px 0px; padding: 0px 0px 10px 0px; border-style: solid; border-color: white; border-width: 0px 0px 1px 0px; }
.minicart-actions { float: right; position: relative; top: -20px; }
#minicart-footer { float: right; }
#minicart .cart-items ul li .btn-quantity {display: inline-block; font-size: 20px; color: #707070; padding: 10px; line-height: normal; border: 0; background-color: transparent; outline: 0; cursor: pointer; text-decoration: none; user-select: none; }
.coupon-input-wrapper input:focus, .coupon-input-wrapper .btn-coupon:focus{outline: none}
.coupon-input-wrapper .btn-coupon:hover{background:#00799c; color:#fff}
